<!-- <button (click)="enable=!enable">222</button> -->
<button type="button" (click)="close()">close</button>
<button type="button" (click)="open()">open</button>
<ul
  [@bodyExpansion]="state"
  *ngIf="nodes.length"
  [hm-sortable]="nodes"
  [hm-sortable-enable]="enable"
  elms-selector="li"
  move-selector="button"
  [select-style]="selectStyle"
  [moving-style]="movingStyle"
  (sort-complete)="complete($event)">
  <li
    *ngFor="let node of nodes | filter: {name: searchText}; let i = index"
    [attr.index]="i">
      {{i}}
      <button> sdfs </button>
      <label nz-checkbox *ngIf="node[key] && node[key].length" [(ngModel)]="node.collapse">
        <span>{{ node.collapse ? 'open' : 'close' }}</span>
      </label>
      <span [innerHTML] ="node.name | highlight: searchText"></span>
      <span *ngIf="node[key] && node[key].length">({{ node[key].length }})</span>
      <app-ui-tree
        *ngIf="node[key] && node[key].length && node.collapse"
        [key]="key"
        [nodes]="node[key]"
        [searchText]="searchText"></app-ui-tree>
  </li>
</ul>

